@use "../base/colors.scss" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 0.5rem;
    overflow: scroll;
}

.btn {
    background-color: $primary-100;
    color: $bg-100;
    border: none;
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 10px;
}

ul {
    list-style: none;

    li {
        margin-left: 10px;
    }
}

.correct {
    color: green;
    font-weight: bold;
    list-style-type: "👌 ";
}

.wrong {
    color: red;
    font-weight: bold;
    list-style-type: "👎 "
    
}