@use "./base/clearDefault.scss" as *;

input[type='radio'] {
    accent-color: #c8ff00;
}

progress {
  appearance: none;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 0.3s ease;
}